#main-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0.9;
  font-size: 0.9rem;
}

#main-nav a {
  padding-top: 1rem;
  font-size: 1rem;
}

#main-nav > ul {
  padding-left: 1rem;
}

#intro .intro-container {
  grid-template-columns: 1fr;
}

#blog .blog-container,
#marinersDrought {
  margin: 1rem;
  padding: 1rem;
}

#blog article h2 {
  font-size: 25px;
}

@media (max-width: 600px) {
  #main-nav i {
    display: none;
  }
}
